html, body{
  margin:0;
  width: 100%;
  height:100%;
  font-size: 26px;
  margin:none;
  padding:none;
  box-sizing: content-box;
}
.container{
  width:100%;
  margin-left:10%;
  row-gap: 4%;
  grid-column-gap: 4%;
  display: grid;
  justify-content:center;
  align-content: space-evenly;
  grid-template-columns: 20% 20% 20% 20%;
  margin:auto;
 
}

.col-right,
.col-center,
.col-half,
.col-quarter,
.col-full{
  grid-column: span 4;
}
  
  
@media only screen and  (min-width:720px){
  .container{
    row-gap: 10%;
  }
  body, html{
    font-size: 16px;
    }
    .col-center{
      grid-column: 2/span 2;
    }
    .col-half{
    grid-column: span 2;
    }
    .col-quarter{
    grid-column: span 1;
    }
    .col-right{
    grid-column: 4;
  }
 
}

