html, body{
  width: 100vw;
  height:fit-content;
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}
.container{
  row-gap: 1%;
  display: grid;
  grid-template-columns: auto auto auto;
  margin:auto;
  padding: 0px;
 
}

.col-right,
.col-center,
.col-half,
.col-quarter,
.col-full{
  grid-column: span 3;
  margin:auto;
}
  
  
@media only screen and  (min-width:720px){
  body, html{
    font-size: 26px;
    }
    .col-full{
      grid-column: span 5;
    }
    .col-center{
      grid-column: 2/span 3;
    }
    .col-half{
    grid-column: span 2;
    }
    .col-quarter{
    grid-column: span 1;
    }
    .col-right{
    grid-column: 5;
  }
  .container{
    row-gap: initial;
    grid-template-columns: auto auto auto auto auto; 
    padding: 0px;
  }
 
}

