/* colors 
  #1f271b: black
  #a7a2a9: nuetral
  #fff4fc;; whitespace
  #d72638: accent
  #ffe1ea : secondary
*/
:root{
  --offBlack:#1a323e;
  --nuetral:#1b729f; 
  --whitespace:#f7d281; 
  --accent:#f23c27; 
  --secondary:#1b729f; 
}
html body{
  width:100%;
  margin:0px;
  color: var(--offBlack);
  font-family: 'Montserrat',sans-serif;
  font-size: 26px;
}
canvas{
  font-family: 'VT323' sans-serif;
}
li{
  list-style: none;
}

q{
  font-family: 'Times New Roman', Times, serif;
  opacity: 0.6;
}
p{
  line-height: 1.3;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto|VT323&display=swap');
h1,h2,h3{
  
  font-family: 'Roboto', sans-serif;
  color:var(--accent);
}
a{
  text-decoration: none;
  color:white;
}
button{
  font-family: 'Roboto', sans-serif;
  border: none;
  background-color: var(--offBlack);
  color:white;
  font-weight: bold;
  line-height: 40px;
  
}
#seam{
  width:100%;
  height: 5%;
  background-color: black;
}
.extraInfo{
font-size: 16px;
}
#main-nav{
  display:none;
  z-index: 100;
  border:none;
  /* background-color: black; */
  color:white;
  height:100%;
  font-size: 25px;
  text-align: center; 
}
#hamb{
  display: inline-block;
  background-color: black;
  width:100%;
  color: rgba(255,255, 255, 0.2); 
}
#hamb:hover{
  color: rgba(255,255, 255, 1);
}
header{
  background-color:red;
  width:100%;
  height: 95%;
 }
 #target{
   width:100%;
   height:100%;
 }
 section{
   width:100%;
 }
 main{
   width: 100%;
 }
 .welcome{
   position: absolute;
   font-size: 75px;
   font-family: VT323;
   z-index: 1;
   top:50%;
   left:50%;
   color:red;
 }
 .screenShot{
   width:100%;
 }
 footer{
   background-color: black;
   color:white;
 }
 footer>*{
  display: block;
  color:white;
  align-content: center;
  justify-content: center;
 }
 #contact_me>a{
   color:var(--offBlack);
 }
 @media only screen and (min-width:760px){
  #seam{
    display:block;
    z-index: 100;
    background-color:black;
    color:white;
    width:100%;
    height:5%;
    border-bottom: 5px solid var(--nuetral);
    grid-row:1
  
  }
  #main-nav{
    display: grid;
    overflow: hidden;
    z-index: 100;
    border:none;
    background-color: black;
    color:white;
    height:100%;
    font-size: 25px;
    text-align: center; 
  }
  .nav-btn{
    background-color: black;
  }
  #hamb{
    display: none;
  }
  .extraInfo{
    font-size: 14px;
    color: var(--nuetral);
  }

 }