@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald|Pacifico&display=swap');
/* variables */
:root{
--black: #070b34;
--base: #131862;
--dark: #2E4482;
--light: #546BAB;
--neutral: #87889C;
--accent:#BEA9DE;
--emph:#c33764 ;
}
/*
  ////A11y
*/
.sr-only{
  position: absolute;
  left: 100000px;
}
.skip-to-main{
  opacity: 0;
  color:white;
  background-color: black;
}
.skip-to-main:focus{
  opacity: 100;
  display: block;
}
/*
  ////A11y
*/
body{
  background:linear-gradient(black, #1d2671 , #c33764  );
  color:white;
  box-sizing: border-box;
  max-width:100vw;
  font-family: 'Oswald' , sans-serif;
}
main{
  max-width:100vw;
  
}
h2{
  color:var(--emph);
  font-family: 'Courgette', cursive;
  margin-bottom: 7% !important;
}
a{
  color: var(--accent);
  text-decoration: none;
}
.emph{
  color:var(--emph);
}
textarea{
  width:100%;
}

canvas, #target{
  width:100%;
  height:100vh;
  position: relative;
}
.card{
  font-family: 'Courgette', cursive;
  color:white;  
  border-radius: 25px;
  padding: 50px;
  position: absolute;
  background-color: rgba(0,0,0,0.3);
  z-index: 10;
}
#welcome_card{

  left:20%;
  top:20%;
  
}
#welcome{
  padding: 75px;
  left:20%;
  top:20%;
  
}
#animated_nav{
 
  right:20%;
  top:20%;
  
}


#main-nav{
  display:none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  line-height: 30px;
  font-size: 26px;
  border-bottom: var(--black) 5px solid;
}
#main-nav a{
  color:white;
}
#continue_btn{
  text-align: right;
  position: absolute;
  right:10px;
}
#continue_btn:hover, #continue_btn:focus{
  font-size: 150%;
  transition: font-size 1s;
}

form#contact_form{
  border:solid 2px var(--base);
  border-radius: 5px;
  grid-column: span 3;
  padding: 20px;
  width : 100%;
}
form div{
  margin:0px !important;
  padding:20px;
}
form#contact_form button{
  background-color: var(--base);
  border-radius: 0px;
  color:white;
  border:none;
  border-radius: 10px;
  font-size: 1em;
}
.skill{
  color:var(--accent);
  margin:5px !important;
  width:100%;
  font-size: 95%;
  padding: 10px;
}
.skill:hover{
  color:var(--emph);
}
p{
}
.mini{
  width: 80vw;
}
h3{
  background-color: rgba(0,0,0,0.3);
  color:white;
  padding:15px;
}
.desc{
  display:none;
  background-color: rgba(0,0,0,0.3);
  color:white;
  padding: 15px;
}
.desc button{
  background-color: var(--base);
  border: none;
  color:white;
  font-size: 0.75em;
  padding: 10px;
}
.desc button:hover{
  color:var(--accent);
}
.project{
  background-size: cover;
  height:80vw;
  width:100vw;
  margin-bottom: 30px;
}
q{
  color:white;
  font-family: 'Pacifico', cursive;
}
#my_skills_list{
width:100%;
display: block;
}
.skill:hover{
  color:var(--accent);
}
aside{
 max-width:85vw;
 padding-top:25px;
 padding-bottom: 25px;
}
#contact_me{
  background-color: rgba(255,255,255,0.1);
}
footer{
  color:white;
  box-sizing: border-box;
  width:100vw;
  height:fit-content;
  background-color:#303336;
  font-size: 50%;
  padding:50px;
}
ul{
  list-style: none;

}
.other{
  background-size: contain;
  height:20vw;
  width:20vw;
  background-repeat: no-repeat;
  padding: 0px;
}
.other_projects{
  margin:0px;
}
#other_project_container{
  padding: 0px;
}
#my_projects{
  padding:0px;
}

#my_projects h2{
padding-left:15%;
}

#my_skills button{
  background-color: rgba(0,0,0,0.3);
  border:none;
  
}
.blue{
  color:var(--base);
}
section{
  margin-top:0px;
  background-color: rgba(0,0,0,0.3);
  padding: 15%;
  height:fit-content;
  width:100vw;
  box-sizing: border-box;
}
section p{
  margin-left:0px;
  padding-left:0px;
}

#hamb{
  color:white;
  background-color: rgba(0,0,0,0.3);
  border:none;
  width:100vw;
  padding-top:3%;
  padding-bottom:3%;
}

#nav-floater{
  position: sticky !important;
  top:0px;
  background-color:rgba(0,0,0,0.9)
}
.hide{
  display: none;
}
#contact_form > * > button{
  padding:15px;
}
input#name{
  width:100%;
}
@media only screen and (min-width:760px){/* desktop view ---------------------------------------*/

  footer{
    padding:50px !important;
  }
  .hide{
    display: initial;
  }
  #form_name_div{
    padding: 20px;
  }
  #my_skills_list{
    width:100%;
    display:grid;
    }
  #contact_form >* > input{
    width:100%;
  }
  #contact_form > * > button{
    padding:25px;
    margin:25px;
    color:red;
    border-radius: 10px;
  }
  .other_project{
    display:block;
  }
  .other{
    background-size: contain;
    max-width:200px;
    max-height: 200px;
    background-repeat: no-repeat;
  }
  #my_projects h2{
    padding-left:initial;
    }
    #my_projects{
      padding:5%;
    }

  p{
    font-size: 26px;
    line-height: 40px;
  }
  nav{
    display: block;
    color:var(--accent);
  }
  .nav-btn{
    padding:20px;
    margin:auto;
  }
  main{
    height: fit-content;
    width:100vw;
    box-sizing: border-box;
    padding: 0px;
  }
  #hamb{
    display: none;
  }
  #navigation{
    position: absolute;
    bottom: 0px;
    width:100vw;
  }
  #main-nav{
    display:grid;
    width:100vw;
  }
  .skill{
    color:var(--accent);
    margin:5px;
    font-size: 100%;
    padding: 15px;
  }
  .skill:hover{
    color:var(--emph);
  }
  .project{
    background-size: cover;
    height:300px;
    background-position-y: -150px;
    width:100%;
  }
  section{
    margin-top:75px !important;
    margin-bottom:75px !important;
    line-height: 46px;
    border-radius: 10px;
    box-shadow:  10px 10px 5px rgba(42, 40, 66, 0.192);
    width:75vw;
    margin-top:0px;
    padding: 5%;
    height:fit-content;
  }
}