@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* variables */
:root{
--black: #070b34;
--base: #131862;
--dark: #2E4482;
--light: #546BAB;
--neutral: #87889C;
--accent:#BEA9DE;
--emph:#c33764 ;
}
body{
  background:linear-gradient(black, #1d2671 , #c33764  );
  color:white;
  box-sizing: border-box;
  max-width:100vw;
}
main{
  font-family: 'Roboto', sans-serif;
  max-width:100vw;
  
}
h2{
  color:var(--emph);
}
a{
  text-decoration: none;
}
.emph{
  color:var(--emph);
}

canvas, #target{
  width:100%;
  height:100vh;
  position: relative;
}
.card{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:white;  
  border-radius: 25px;
  padding: 50px;
  position: absolute;
  background-color: rgba(0,0,0,0.3);
  z-index: 10;
}
#welcome_card{

  left:20%;
  top:20%;
  
}
#welcome{
  padding: 75px;
  left:20%;
  top:20%;
  
}
#animated_nav{
 
  right:20%;
  top:20%;
  
}


#main-nav{
  display:none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgba(0,0,0,0.3);
  line-height: 30px;
  font-size: 26px;
  border-bottom: var(--black) 5px solid;
}
#main-nav a{
  color:white;
}
#continue_btn{
  text-align: right;
  position: absolute;
  right:10px;
}
form#contact_form{
  border:solid 2px grey;
  border-radius: 10px;
  padding: 20px;
}
form#contact_form button{
  background-color: var(--base);
  border-radius: 0px;
  color:white;
  border:none;
}
.skill{
  color:var(--accent);
  margin:5px;
  font-size: 100%;
  padding: 5px;
}
.skill:hover{
  color:var(--emph);
}
p{
  padding:10px;
}
.mini{
  width: 80vw;
}
h3{
  background-color: rgba(0,0,0,0.3);
  color:white
}
.desc{
  display:none;
  background-color: rgba(0,0,0,0.3);
  color:white;
  padding: 0px;
}
.project{
  background-size: cover;
  height:80vw;
}
q{
  color:grey;
}
#my_skills_list{

}
.skill:hover{
  color:var(--accent);
}
aside{
  padding: 20px;
  padding-top:200px;
}
#footer{
  color:white;
  width:100vw;
  margin-left:-20px;
  height:fit-content;
  background-color:#303336;
  font-size: 50%;
  color: grey;
  padding:50px;
}
ul{
  list-style: none;

}
.other{
  background-size: contain;
  height:20vw;
  width:20vw;
  background-repeat: no-repeat;
  padding: 0px;
}
.other_project{
  display:none;
}
#other_project_container{
  padding: 0px;
}
#my_skills button{
  background-color: rgba(0,0,0,0.3);
  border:none;
  
}
#blue{
  color:var(--base);
}
section{
  margin-top:0px;
  background-color: rgba(0,0,0,0.3);
  padding: 5%;
  border-radius: 25px;
  max-width:75vw;
}
#hamb{
  color:white;
  background-color: rgba(0,0,0,0.3);
  border:none;
  width:100vw;
}
@media only screen and (min-width:760px){/* desktop view */
  #form_name_div{
    padding: 20px;
  }
  #contact_form >* > textarea{
    width: 50vw;
    height: 25vw;
  }
  #contact_form >* > input{
    width:80%;
  }
  #contact_form > * > button{
    padding:25px;
    margin:25px;
    color:red;
    border-radius: 10px;
  }
  .other_project{
    display:block;
  }
  .other{
    background-size: contain;
    max-width:200px;
    max-height: 200px;
    background-repeat: no-repeat;
  }

  p{
    font-size: 26px;
    line-height: 40px;
  }
  nav{
    display: block;
    color:var(--accent);
  }
  .nav-btn{
    padding-top:20px;
  }
  main{
    height: fit-content;
    width:100vw;
    box-sizing: border-box;
    padding: 0px;
  }
  #hamb{
    display: none;
  }
  #navigation{
    position: absolute;
    bottom: 0px;
    width:100vw;
  }
  #main-nav{
    position: sticky;
    top:0px;
    display:grid;
    width:100vw;
    background-color: rgba(0,0,0,0.3);
  }
  .skill{
    color:var(--accent);
    margin:5px;
    font-size: 100%;
    padding: 5px;
  }
  .skill:hover{
    color:var(--emph);
  }
  .project{
    background-size: cover;
    height:300px;
    background-position-y: -150px;
  }
  section{
    margin-top:200px;

  }
}